/*** color- palet https://colorhunt.co/palette/f7ecdee9dac19ed2c654bab9   ****/
/*************    https://colorhunt.co/palette/f9ebc8fefbe7dae5d0a0bcc2  ****/
/*************    https://colorhunt.co/palette/f0ebe3e4dccf7d9d9c576f72  ****/
/****** piked color #E0EBE8 ****/

body {
  margin: 0;
  text-align: center;
}
h1 {
  margin-top: 0;
}

.top-container {
  background-color: #9ed2c6;
  position: relative;
  padding-top: 100px;
}

.middle-container {
}
.bottom-container {
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
