/*** color- palet https://colorhunt.co/palette/f7ecdee9dac19ed2c654bab9   ****/
/*************    https://colorhunt.co/palette/f9ebc8fefbe7dae5d0a0bcc2  ****/
/*************    https://colorhunt.co/palette/f0ebe3e4dccf7d9d9c576f72  ****/
/*************    https://colorhunt.co/palette/439a9762b6b797dececbedd5 ****/
/****** piked color #E0EBE8 ****/

body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 200%;
}
h1 {
  color: #439a97;
  font-size: 5.625rem;
  font-family: "Sacramento", cursive;

  margin: 50px auto 0 auto;
}
h2 {
  color: #e9dac1;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}
h3 {
  color: #62b6b7;
  font-family: "Montserrat", sans-serif;
}
a {
  color: #62b6b7;
}

.top-container {
  background-color: #9ed2c6;
  position: relative;
  padding-top: 100px;
}

.middle-container {
}
.bottom-container {
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.code-image {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.to-do-image {
  width: 25%;
  float: right;
  margin-left: 30px;
}
